@{
    ViewData["Title"] = "Blockchain Performance Test";
}

<div class="row">
    <div class="col-md-12">
        <h2>My Network</h2>
        <h3>Nodes</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Configure network</h2>
        <p>Add node</p>
        <p>Spin up new Azure node</p>
        
    </div>
    <div class="col-md-3">
        <h2>Test senarios</h2>
        <p>Deploy new test senario</p>
        <p>Create new test senario</p>
    </div>
</div>
